.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    outline: none;
    border: 1px solid rgb(12, 185, 50);
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    border-radius: 5px ;
    display: block;
    width: 100%;
   
}

.InputElement:focus{
    outline: none;
    color: white;
    background-color: rgb(158, 255, 179);
}