.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    outline: none;
    border: 1px solid rgb(12, 185, 50);
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    border-radius: 5px ;
    display: block;
    width: 100%;
   
}

.InputElement:focus{
    outline: none;
    background-color: white;
    /* color: rgb(158, 255, 179); */
    color: rgb(61, 248, 101);
    font-size: large;
}

.err{
    color: rgb(245, 98, 98);
    font-size: 12px;
    font-style: oblique;
    
}

textarea.noscrollbars {
    overflow: hidden;
    width: 100%;
    height: 40vh;
  }